.ResultHeader {
  height: 150px;
}

.arrowBack {
  float: left;
}

tr td .md-form {
  margin: 0px;
}

div[role=button]:focus{
  outline: 0px;
}

.arrowBack:hover {
  cursor: pointer;
}

table.table thead th {
  vertical-align: middle;
}

.text-novinfo {
  margin-top: -29px;
  margin-left: 170px;
  margin-bottom: 5px;
}

.toast-place {
  position: fixed;
  right: 0;
  bottom: 10px;
}

.toast-pf {
  background-color: #fff;
  border-color: #bbb;
  box-shadow: 0 2px 6px rgba(3, 3, 3, 0.2);
  padding-left: 68px;
  margin-bottom: 5px;
}

.alert-dismissable {
  padding-right: 28px;
}

.alert {
  border-width: 1px;
  padding-left: 47px;
  padding-right: 14px;
  word-wrap: break-word;
}

.alert-warning {
  color: #363636;
  background-color: #fdf2e5;
  border-color: #ec7a08;
}

.img-toast {
  margin: 0 8px 0 0;
}
